<header class="site-category">
    <ul>
      
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "category" %}
            <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
            href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      
  </ul>
</header>

<article>
 <header> 
   <h1>HTML5 구조</h1> 
    <p>Published On <time datetime="2013-01-22">2013년1월22일</time></p> </header>
    <p>본문 내용</p> <footer>Posted in unclepapa</footer> <article> <!-- 코멘트 시작 --> <header> 작성자:<a href="">나그네</a> at <time datetime="2013-01-22T08:45">2013년1월22일 08:45</time> </header> <p>코멘트 내용</p> </article> <!-- 코멘트 끝 --> </article>
